[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bpython = "*"

[packages]
gunicorn = "*"
redis = "*"
Flask = "*"
psycopg = "*"

[requires]
python_version = "3.11"
