{% extends 'default.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
	<h1>Home</h1>

	<form method="POST" action="{{url_for('log_weight')}}">
		<div class="form-group">
			<label for="weight">Weight</label>
			<input
				id="weight"
				name="weight"
				type="number"
				step="0.1"
				min="75"
				max="120"
				required
				class="form-control">
		</div>
		<div class="form-group">
			<button class="btn btn-primary"
				type="submit">
				Log
			</button>
		</div>
	</form>
</div>
{% endblock %}